<div class="page-lead row align-items-center">
  <div class="col-auto">
    <h1>Recent Payroll Deduction Files</h1>
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Consultants</td>
        <td>8/19/2019</td>
        <td>
          <div class="float-right">
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-download"></i>&nbsp; Download</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

