<div class="main-container">

  <nav class="navbar navbar-expand-lg justify-content-center">
    <app-header></app-header>
  </nav>

  <div class="page-container">

    <div class="nav-container">
      <app-navigation></app-navigation>
    </div>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
