<div class="page-lead row align-items-center">
  <div class="col-auto">
    <h1>Invite Users</h1>
  </div>
  <div class="col">
    <div class="float-right">
      <a href="#" class="btn btn-outline-primary btn-sm">Invite A User</a>
      <a href="#" class="btn btn-primary btn-sm">Bulk Invite</a>
      <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#uploadCsvModal">Upload CSV</a>
      <a href="#" class="btn btn-outline-success btn-sm">Download</a>

      <!-- Modal -->
      <div class="modal fade" id="uploadCsvModal" tabindex="-1" role="dialog" aria-labelledby="uploadCsvModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Employee CSV</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile03"
                         aria-describedby="inputGroupFileAddon03">
                  <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="panel panel-warning mb-1">
      <div class="panel-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="icon-container icon-circle">
              <i class="fa fa-warning fa-fw fa-lg text-danger"></i>
            </div>
          </div>
          <div class="col">
            <h5>You uploaded existing users.
            </h5>
            <p class="mb-0">
              <small>These users will not receive an invitation because they already have Onward accounts.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          New Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          Existing Users <span data-toggle="tooltip" data-placement="top" title="These users will not receive an invitation because they already have Onward accounts."><i class="fa fa-exclamation-circle"></i></span>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col">
            <table class="table table-hover table-sm">
              <thead>
              <tr>
<!--                <th scope="col">-->
<!--                  <input type="checkbox" checked>-->
<!--                </th>-->
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Employee Payroll ID</th>
                <th scope="col">Email Address</th>
                <th scope="col">URL</th>
              </tr>
              </thead>
              <tbody>
              <tr>
<!--                <td>-->
<!--                  <input type="checkbox" checked>-->
<!--                </td>-->
                <td>
                  <span>James</span>
                </td>
                <td>
                  <span>Stewart</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>james.stewart@domain.com</span>
                </td>
                <td>
                  <span>https://getonward.org/invite/?id=ab39041</span>
                </td>
              </tr>
              <tr>
<!--                <td>-->
<!--                  <input type="checkbox" checked>-->
<!--                </td>-->
                <td>
                  <span>Rachel</span>
                </td>
                <td>
                  <span>Holmes</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>rachel.holmes@domain.com</span>
                </td>
                <td>
                  <span>https://getonward.org/invite/?id=ab39041</span>
                </td>
              </tr>
              <tr>
<!--                <td>-->
<!--                  <input type="checkbox" checked>-->
<!--                </td>-->
                <td>
                  <span>Craig</span>
                </td>
                <td>
                  <span>Butler</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>craig.butler@domain.com</span>
                </td>
                <td>
                  <span>https://getonward.org/invite/?id=ab39041</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col">

            <table class="table table-hover table-sm">
              <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Employee Payroll ID</th>
                <th scope="col">Email Address</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span>Arthur</span>
                </td>
                <td>
                  <span>Brooks</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>james.stewart@domain.com</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Donna</span>
                </td>
                <td>
                  <span>Wilson</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>rachel.holmes@domain.com</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>William</span>
                </td>
                <td>
                  <span>Kelly</span>
                </td>
                <td>
                  <span>12434343</span>
                </td>
                <td>
                  <span>craig.butler@domain.com</span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>



