<div class="page-lead row align-items-center">
  <div class="col-auto">
    <h1>Verify Employees</h1>
  </div>
</div>

<div class="row">
  <div class="col">

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <div class="nav-tabs-heading">
            <div class="row">
              <div class="col-auto">
                <div class="icon-container icon-circle">
                  <i class="fa fa-warning fa-fw fa-lg text-danger"></i>
                </div>
              </div>
              <div class="col">
                <h6>Verify Employment Status</h6>
                <p class="mb-0"><small>Flagged employees that needs employer verification.</small></p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <div class="nav-tabs-heading">
            <div class="row">
              <div class="col-auto">
                <div class="icon-container icon-circle">
                  <i class="fa fa-warning fa-fw fa-lg text-danger"></i>
                </div>
              </div>
              <div class="col">
                <h6>Verify Employee ID</h6>
                <p class="mb-0"><small>New user whose Employee Payroll ID was not captured.</small></p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col">

            <table class="table table-hover fixed table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 125px;">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Status</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Change Effective On</th>
                <th scope="col">Deduction Code</th>
                <th scope="col">Deduction Amount</th>
                <th scope="col">Account Number</th>
                <th scope="col">Routing Number</th>
                <th scope="col">Prenote Code</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  JM Kuizon
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>748237</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-success btn-sm">Verify</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-success btn-sm">Verify</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-success btn-sm">Verify</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-success btn-sm">Verify</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-success btn-sm">Verify</a>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col">

            <table class="table table-hover fixed table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 125px;">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Status</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Change Effective On</th>
                <th scope="col">Deduction Code</th>
                <th scope="col">Deduction Amount</th>
                <th scope="col">Account Number</th>
                <th scope="col">Routing Number</th>
                <th scope="col">Prenote Code</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  JM Kuizon
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>748237</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm">Edit</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm">Edit</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm">Edit</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm">Edit</a>
                </td>
              </tr>
              <tr>
                <td>
                  Dennis Damenace
                </td>
                <td>Consultants</td>
                <td>Active</td>
                <td>1234567890</td>
                <td>10/12/2019</td>
                <td>SV6</td>
                <td>98</td>
                <td>74823740</td>
                <td>374676374</td>
                <td>N</td>
                <td>
                  <a href="#" class="btn btn-primary btn-sm">Edit</a>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
