.btn {
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: set-color(map_get($theme-colors, primary));
  background: map-get($theme-colors, primary);
  border-radius: $global-button-radius;
  box-shadow: none;

  &.btn-primary {
    background: map-get($theme-colors, secondary);
  }

  &.btn-secondary {
    background: map-get($theme-colors, secondary);
  }

  &.btn-success {
    background: map-get($theme-colors, success);
  }

  &.btn-warning {
    background: map-get($theme-colors, warning);
  }

  &.btn-alert {
    background: map-get($theme-colors, warning);
  }

  &.btn-link {
    color: map-get($theme-colors, primary);
    background: transparent;
    border: none;
  }

  &.btn-circle {
    border-radius: 50%;
  }

  &.btn-sm {
    padding: 0.33rem 1rem;
  }

  &.btn-xs {
    font-size: 0.54rem;
    padding: 0.22rem 0.67rem;
  }
}
