body {
  font-size: 1rem;
  color: $text-black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
}

// Overall application container
.main-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

// Contains content aside from the top navigation bar
// Flexes the two main children of this container
.page-container {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

// Sidebar navigation
.nav-container {
  position: relative;
  width: 200px;
  height: 100%;
  background: map-get($theme-colors, secondary);

  .page-lead {
    padding: 1rem;
    background: lighten(map-get($theme-colors, secondary), 20%);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white !important;
    }
  }

  .nav.flex-column {
    .nav-item {
      &.active {
        .nav-link {
          position: relative;
          color: map-get($theme-colors, secondary) !important;
          background: lighten(map-get($theme-colors, secondary), 45%);
        }

        .nav.flex-column {
          .nav-item {
            .nav-link {
              color: $white !important;
              background: map-get($theme-colors, secondary) !important;

              &:hover {
                color: map-get($theme-colors, secondary) !important;
                background: lighten(map-get($theme-colors, secondary), 45%) !important;
              }
            }

            &.active {
              .nav-link {
                color: map-get($theme-colors, secondary) !important;
                background: lighten(map-get($theme-colors, secondary), 45%) !important;
              }
            }
          }
        }
      }

      .nav.flex-column {
        .nav-link {
          text-transform: none;
          font-size: 0.8175rem;
          padding: 0.8175rem 1rem 0.8175rem 1.5rem !important;

          &:hover {
            color: map-get($theme-colors, secondary) !important;
            background: lighten(map-get($theme-colors, secondary), 45%) !important;
          }
        }
      }
    }
    .nav-link {
      position: relative;
      font-size: 0.9rem;
      color: $white;
      font-weight: $global-font-weight-bold;
      padding: 0.8175rem 1rem !important;
      line-height: 1.2em;
      &:hover {
        color: map-get($theme-colors, secondary) !important;
        background: lighten(map-get($theme-colors, secondary), 45%);
      }
    }
  }

  .btn.btn-block.btn-link {
    color: $white !important;
  }
}

// Content displaying content as dictated by the sidebar
.page-content {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.page-lead {
  padding: 1rem 0;
  h1 {
    font-size: 28px;
  }
}
