.color-primary {
  color: map-get($colors, primary) !important;
}

.color-secondary-light {
  color: map-get($colors, secondary) !important;
}

.color-secondary-dark {
  color: #878787 !important;
}

.color-accent-white {
  color: #fff !important;
}

.color-accent-black {
  color: #000 !important;
}

.color-accent-light {
  color: #ffc02d !important;
}

.color-accent-dark {
  color: #42426f !important;
}

.pull-down {
  position: absolute;
  bottom: 0;
}

// Margins --------------------------------------------------------------------------------
.marginless {
  margin: 0 !important;
}

.mar-0-auto {
  margin: 0 auto !important;
}

.mar1 {
  margin: 1rem !important;
}

.mar-0-5 {
  margin: .5rem !important;
}

.mar2 {
  margin: 2rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-0-5 {
  margin-right: 0.5rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-1-5 {
  margin-right: 1.5rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-2-5 {
  margin-right: 2.5rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-0-5 {
  margin-left: 0.5rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-1-5 {
  margin-left: 1.5rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-2-5 {
  margin-left: 2.5rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-0-5 {
  margin-top: 0.5rem !important;
}

.mt-0-25 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-0-25 {
  margin-bottom: 0.5rem !important;
}

.mb-0-5 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

// Paddngs --------------------------------------------------------------------------------
.pad0 {
  padding: 0rem !important;
}

.paddingless {
  padding: 0 !important;
}

.pad05 {
  padding: .5rem !important;
}

.pad1 {
  padding: 1rem;
}

.pad1-5 {
  padding: 1.5rem;
}

.pad2 {
  padding: 2rem;
}

.pad3 {
  padding: 3rem;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-0-25 {
  padding-left: .5rem !important;
}

.pl-0-5 {
  padding-left: .5rem !important;
}

.pl-1-5 {
  padding-left: 1.5rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-0-25 {
  padding-right: .25rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-1-5 {
  padding-right: 1.5rem !important;
}

.pr-0-5 {
  padding-right: 0.5rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pad-1 {
  padding: 1rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-1-5 {
  padding-bottom: 1.5rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-0-5 {
  padding-bottom: 0.5rem !important;
}

.pb-0-25 {
  padding-bottom: 0.25rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 2rem !important;
}

.pt-0-25 {
  padding-top: 0.25rem !important;
}

.pt-0-5 {
  padding-top: 0.5rem !important;
}

.pt-0-7 {
  padding-top: 0.7rem !important;
}
