@function set-color($color) {
  @if (lightness($color) > 67) {
    @return $black;
  } @else {
    @return $white;
  }
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}
