.pagination {
  .page-item {
    .page-link {
      font-size: 0.8175rem;
      font-weight: bold;
    }
    &.active {
      .page-link {
        background: map-get($theme-colors, primary);
        box-shadow: none;
      }
    }
  }
}
