.panel {
  border: 1px solid rgba($black, $B-dividers);
  border-radius: $global-button-radius;
  .panel-heading,
  .panel-body {
    padding: 1rem;
  }
  .panel-heading {
    border-bottom: 1px solid rgba($black, $B-hinttext);
  }

  &.panel-warning {
    border-color: rgba(map-get($theme-colors, warning), $B-dividers);
    background: lighten(map-get($theme-colors, warning), 5%);
    .panel-heading,
    .panel-body {
      > * {
        color: $white;
      }
    }
  }
}
