table.table {
  color: inherit;

  thead,
  tbody {
    th,
    td {
      font-weight: $global-font-weight-bold;
      padding: 0.5rem 0.6rem;
      vertical-align: middle;
      white-space: normal;
    }
  }

  thead {
    th {
      color: map-get($theme-colors, success);
      font-size: 0.75rem;
      font-weight: $global-font-weight-bold;
    }
  }

  &.table-sm {

    thead,
    tbody {
      th,
      td {
        font-size: 0.75rem;
      }
    }
  }

  &.fixed {
    table-layout: fixed;
  }

  .form-group {
    margin-bottom: 0;
  }
}
