.nav-tabs {

  .nav-item {
    margin-left: 0.67rem;

    &:only-child {
      margin-left: 0;
    }
  }

  .nav-link {
    font-weight: bold;
    padding: 1rem;

    .nav-tabs-heading {
      text-align: left;
      padding: 1rem;
      border-radius: $global-button-radius;
      box-shadow: 0 0 2px 0 rgba($black, $B-hinttext);

      p {
        font-weight: normal;
      }
    }

    &.active,
    &:hover {

      .nav-tabs-heading {
        box-shadow: none;
      }
    }
  }
}
