@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  src: url('assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: semi-bold;
  src: url('assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: medium;
  src: url('assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  src: url('assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: medium;
  src: url('assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: bold;
  src: url('assets/fonts/Ubuntu-Bold.ttf');
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: $global-font-weight-bold;
  line-height: 1.2em;
  margin-bottom: 0;
}

strong,
b {
  font-weight: bold;
}

a{
  color: map-get($theme-colors, primary);
}

.icon-container {
  background: $white;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($black, $B-dividers);

  &.icon-circle {
    border-radius: 50%;
  }
}
