// Deprecated Colors
$colors: (
  primary:      #00AADE,
  secondary:    #00D898,
  danger:       #F53D3D,
  light:        #F4F4F4,
  dark:         #222222,
  grey:         #878787,
  notification: #FFC02D,
  box:          #F8FBFF,
  title:        #42426F
);

// Onward Color Palette
$theme-colors: (
  primary:         #00AADE,
  secondary:       #42426F,
  success:         #00D898,
  warning:         #FFC02D,
  alert:           #F53D3D,
);

$light-gray:       #E3E3E3;
$medium-gray:      #878787;
$dark-gray:        #2C2C2C;

$black:            #222222;
$white:            #FBFBFB;

$body-background:  #F8FBFF;

// * Opacity change/add per project requirements | these defaults help with many elements on the project
// * Text Opacity refers to the opacity of Black or White text in the project.
// Black
$B-hinttext:        0.26 !default;
$B-subtext:         0.54 !default;
$B-text:            0.87 !default;

// White
$W-hinttext:        0.30 !default;
$W-subtext:         0.70 !default;
$W-text:            1.00 !default;

// * Text Colors I only change the opacity of text and stay in this defaults all the time.
$text-white:        $white;
$text-black:        rgba($black, $B-text) !default;

// * Element Opacity refers to the opacity of Black or White elements in the project
// * these variables need to be changed/added per project, since they are relative to context
// Black
$B-dividers:        0.06125 !default;
$B-disabled:        0.26 !default;
$B-icons:           0.54 !default;

// White
$W-dividers:        0.06125 !default;
$W-disabled:        0.30 !default;
$W-icons:           1.00 !default;

$global-button-radius: 4px;
$global-font-weight-bold: 600;

