<div class="page-lead">
  <div class="row">
    <div class="col">
      <h6 class="text-success">Chromedia Far East Inc.</h6>
    </div>
  </div>
</div>

<ul class="nav flex-column">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/home"><i class="fa fa-user"></i>&nbsp; Participants</a>
    <ul class="nav flex-column">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="invite"><i class="fa fa-angle-right"></i>&nbsp; Invite New Users</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="verify"><i class="fa fa-angle-right"></i>&nbsp; Verify Employees</a>
      </li>
    </ul>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="groups"><i class="fa fa-users"></i>&nbsp; Groups</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="payrolls"><i class="fa fa-calendar"></i>&nbsp; Payroll Files</a>
  </li>
</ul>

<a href="" class="btn btn-block btn-link pull-down"><i class="fa fa-sign-out"></i>&nbsp; Log Out</a>
