<div class="page-lead row align-items-center">
  <div class="col-auto">
    <h1>Employee Groups</h1>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">Group</th>
        <th scope="col">Basis</th>
        <th scope="col">Classification</th>
        <th scope="col">Pay Cycle</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Consultants</td>
        <td>Temporary</td>
        <td>Part-time</td>
        <td>Semi-monthly</td>
        <td>
          <div class="float-right">
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>Consultants</td>
        <td>Temporary</td>
        <td>Part-time</td>
        <td>Semi-monthly</td>
        <td>
          <div class="float-right">
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>Consultants</td>
        <td>Temporary</td>
        <td>Part-time</td>
        <td>Semi-monthly</td>
        <td>
          <div class="float-right">
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>Consultants</td>
        <td>Temporary</td>
        <td>Part-time</td>
        <td>Semi-monthly</td>
        <td>
          <div class="float-right">
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
