<div class="page-lead row align-items-center">
  <div class="col-auto">
    <h1>Participants</h1>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <div class="col">
    <div class="float-right">
      <a href="#" class="btn btn-outline-success btn-sm">Download CSV</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover fixed table-sm">
      <thead>
      <tr>
        <th scope="col" style="width: 125px;">Name</th>
        <th scope="col">Group</th>
        <th scope="col">Status</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Change Effective On</th>
        <th scope="col">Deduction Code</th>
        <th scope="col">Deduction Amount</th>
        <th scope="col">Account Number</th>
        <th scope="col">Routing Number</th>
        <th scope="col">Prenote Code</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-warning">
        <td>
          JM Kuizon
        </td>
        <td>Consultants</td>
        <td>Active</td>
        <td>1234567890</td>
        <td>10/12/2019</td>
        <td>SV6</td>
        <td>98</td>
        <td>748237</td>
        <td>374676374</td>
        <td>N</td>
      </tr>
      <tr>
        <td>
          Dennis Damenace
        </td>
        <td>Consultants</td>
        <td>Active</td>
        <td>1234567890</td>
        <td>10/12/2019</td>
        <td>SV6</td>
        <td>98</td>
        <td>74823740</td>
        <td>374676374</td>
        <td>N</td>
      </tr>
      <tr>
        <td>
          Dennis Damenace
        </td>
        <td>Consultants</td>
        <td>Active</td>
        <td>1234567890</td>
        <td>10/12/2019</td>
        <td>SV6</td>
        <td>98</td>
        <td>74823740</td>
        <td>374676374</td>
        <td>N</td>
      </tr>
      <tr>
        <td>
          Dennis Damenace
        </td>
        <td>Consultants</td>
        <td>Active</td>
        <td>1234567890</td>
        <td>10/12/2019</td>
        <td>SV6</td>
        <td>98</td>
        <td>74823740</td>
        <td>374676374</td>
        <td>N</td>
      </tr>
      <tr>
        <td>
          Dennis Damenace
        </td>
        <td>Consultants</td>
        <td>Active</td>
        <td>1234567890</td>
        <td>10/12/2019</td>
        <td>SV6</td>
        <td>98</td>
        <td>74823740</td>
        <td>374676374</td>
        <td>N</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row justify-content-center align-items-center">
  <div class="col">
    <p class="mb-0"><small><b>Showing 50 of 252 entries</b></small></p>
  </div>
  <div class="col">
    <nav aria-label="Page navigation">
      <ul class="pagination mb-0">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="col">
    <div class="form-group row mb-0">
      <div class="col-sm-3">
        <input type="noOfItems" class="form-control" id="noOfItems" placeholder="25" value="25">
      </div>
      <label for="noOfItems" class="col-sm-9 col-form-label"><p class="mb-0"><small><b>Per Page</b></small></p></label>
    </div>
  </div>
</div>


